.CampMeal {
  padding: 15px 15px 13px;
  margin-bottom: 6px;
  background-color: white;
  // border-top: 1px solid #ebedef;
  font-family: 'Noto Sans KR';
  font-style: normal;

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
  }

  span {
    display: flex;
    align-items: center;
    padding: 0 0 8px;

    div {
      width: 18px;
      height: 18px;
      margin-right: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.5px;

      bold {
        color: #ef533c;
        font-weight: 500;
      }
    }

    // 장소
    &:nth-of-type(1) {
      div {
        background-image: url('../../../public/icons/ico_place.svg');
      }
    }

    // 시간
    &:nth-of-type(2) {
      div {
        background-image: url('../../../public/icons/ico_date.svg');
      }
    }

    // 식권구매
    &:nth-of-type(3) {
      div {
        background-image: url('../../../public/icons/ico_topic.svg');
      }
    }
  }

  .timeAdditional {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding-left: 57px;
    position: relative;
    bottom: 6px;
  }

  pre {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.5px;
    color: #737373;
  }

  .Swiper {
    margin-top: 15px;

    .SwiperSlide {
      // padding: 15px;
      height: 302px;
      background: #f8f8f8;
      border-radius: 4px;
    }
  }
}
