.CampMealInfo {
  padding: 0 16px 40px;
  text-align: start;

  // 교회 식당 이용 안내
  h4 {
    padding: 0 14px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }

  // 박스
  div {
    box-sizing: border-box;
    // width: 345px;
    height: 233px;
    background: #ffffff;
    mix-blend-mode: normal;
    border: 1px solid #ebedef;
    border-radius: 4px;
    padding: 12px 14px 16px;

    // 식사장소, 식권구매
    span {
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: -0.5px;
      color: #737373;

      &:nth-child(5) {
        padding-bottom: 4px;
      }
    }

    p {
      &:nth-child(2) {
        padding-bottom: 16px;
      }

      &:nth-child(4) {
        padding-bottom: 8px;
      }
    }
  }
}
