.CampMap {
  img {
    width: 100%;
    height: 310px;
    background-image: url('../../../../public/images/CampMap.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
  }

  ul {
    margin-top: 330px;
    padding: 0 15px;
  }
}
