.days_wrap {
  background: #f8f8f8;
  border-radius: 6px;
  padding: 13px 15px 5px 15px;
}

/*
.days_wrap .day_list li:first-child {
	padding: 0 18px;
}
 .days_wrap .day_list li + li {
	margin-left: 5px;
} */
