.CampToggle {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 1;
  font-family: 'Noto Sans KR';
  font-style: normal;
  border-radius: 20px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: white;

  div {
    width: 40px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #737373;
  }
}
