.description {
  font-family: 'Noto Sans KR';
  font-style: normal;
  padding: 15px 15px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;

  bold {
    color: #ef533c;
  }
}

.subTitle {
  font-family: 'Noto Sans KR';
  font-style: normal;
  margin: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
}
