.CampMenu {
  margin: 16px;
  padding: 19px 15px;
  box-sizing: border-box;
  background: #f8f8f8;
  border: 1px solid #ebedef;
  border-radius: 4px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
}
