.AddOn {
  margin: 10px 0 0;
  padding: 15px;
  height: 124px;
  background: #f8f8f8;
  border-radius: 4px;

  li {
    display: flex;
    align-items: center;

    span {
      padding: 0 0 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.5px;

      &:nth-child(1) {
        width: 210px;
      }

      &:nth-child(2) {
        color: #737373;
      }

      bold {
        margin-left: 4px;
        font-weight: 500;
      }
    }
  }
}
