.AddOn {
  margin: 12px 0 0;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 4px;
  height: 195px;

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-bottom: 2px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
  }
}
