.img {
  width: 77px;
  height: 77px;
  margin: 0 auto 8px;
  background-color: #f5f5f5;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.txt {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
