.CampMenu {
  margin: 16px;
  padding: 19px 15px;
  box-sizing: border-box;
  background: #f8f8f8;
  border: 1px solid #ebedef;
  border-radius: 4px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;

  .icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
  }

  // 여름수련회 프로그램
  .icon-schedule {
    background-image: url('../../../../public/icons/CampSchedule.svg');
  }

  // 프로그램 세부정보
  .icon-events {
    background-image: url('../../../../public/icons/CampEvents.svg');
  }

  // 프로그램 위치정보
  .icon-map {
    background-image: url('../../../../public/icons/CampMap.svg');
  }

  // 식당 안내
  .icon-meal {
    background-image: url('../../../../public/icons/CampMeal.svg');
  }

  // 차량(셔틀)운행
  .icon-shuttle {
    background-image: url('../../../../public/icons/CampShuttle.svg');
  }

  // 기도실(리더센터) 사용안내
  .icon-room {
    background-image: url('../../../../public/icons/CampRoom.svg');
  }

  // 환영글
  .icon-welcome {
    background-image: url('../../../../public/icons/CampWelcome.svg');
  }
}
