.QuickMenuList {
  margin-bottom: 22px;
  text-align: center;
  width: 25%;
  float: left;

  .img {
    width: 66px;
    height: 66px;
    margin: 0 auto 6px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(34%, 35%);
    }
  }

  .txt {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}
