.CampMapItem {
  height: 60px;
  background: #f8f8f8;
  border: 1px solid #ebedef;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 0 10px;
  gap: 10px;

  span {
    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      min-width: 24px;
      height: 24px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #ffffff;
      padding: 4px;
      border-radius: 4px;
    }

    &:nth-child(2) {
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: -0.5px;
    }
  }

  .primary {
    background-color: #ef3e36;
  }

  .secondary {
    background-color: #354ea2;
  }

  .market {
    background-color: #4ab957;
  }

  .food {
    background-color: #c774b0;
  }
}
