.CampWelcome {
  img {
    width: 100%;
    height: 530px;
    background-image: url('../../../../public/images/CampWelcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 44px 0 0;
  }
}
