@charset "utf-8";

/**********************************************************
	FONT
***********************************************************/
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/NanumBarunGothicWebUltraLight.woff") format("woff"),
		url("fonts/NanumBarunGothicWebUltraLight.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/NanumBarunGothicWebLight.woff") format("woff"),
		url("fonts/NanumBarunGothicWebLight.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/NanumBarunGothicWeb.woff") format("woff"),
		url("fonts/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/NanumBarunGothicWebBold.woff") format("woff"),
		url("fonts/NanumBarunGothicWebBold.ttf") format("truetype");
}


/**********************************************************
	CSS RESET
***********************************************************/
body, input, textarea, select, button, table {
	margin: 0;
	font-size: 13px;
	font-family: "NanumBarunGothic";
	font-weight: 500;
	color: #000;
}
body, h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, form, fieldset, legend, button, section {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	box-sizing: border-box;
}
span, div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img, fieldset {
	border: 0 none;
}
dl, ul, ol, li {
	list-style: none outside none;
}
button {
	border: 0 none;
	cursor: pointer;
	display: block;
	outline: 0;
}
table, th, td {
	border-collapse: collapse;
}
label {
	cursor: pointer;
}

a, img, input {
	outline: none;
}
input[type="image"] {
	-webkit-appearance: none;
	border-radius: 0;
}
li img, td img {
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
}
table a:link, table a:visited {
	color: #000;
}
table a:hover, table a:active {
	color: #000;
	text-decoration: underline;
}
address, caption, cite, code, dfn, em, var {
	font-style: normal;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: 600;
}
legend, caption {
	display: none !important;
}

#__next{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hide {
	display: none !important;
}

.container {
	margin-bottom: 82px;
}
.sub_container {
	/* margin-top: 58px; */
	margin-bottom: 82px;
	flex: 1;
}



/**********************************************************
	HEADER
***********************************************************/
header {
	left: 0;
	top: 0;
	z-index: 500;
	width: 100%;
	background-color: #fff;
}
header.on {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header .inner {
	position: relative;
	padding: 10px;
}
header .logo {
	display: inline-block;
	width: 108px;
	height: 31px;
}
header .logo img {
	width: 100%;
}
/* 검색 */
header .btn_search {
	display: inline-block;
	position: absolute;
	right: 12px;
	top: 17px;
}
/* 알림 */
header .alarm {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 36px;
	height: 36px;
	background: url('/icons/ico_alarm.svg') no-repeat center center;
}
header .alarm.on:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 9px;
	top: 5px;
	width: 4px;
	height: 4px;
	background-color: #ea7910;
	border: 2px solid #fff;
	border-radius: 50%;
}

header .search_area {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
header .search_area.on {
	display: block;
}
header .search_area .top {
	position: relative;
	padding: 15px 15px 9px 15px;
	border-bottom: 1px solid #ebebeb;
}
header .search_area .btn_prev {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 6px;
	background: url('/icons/ico_back.svg') no-repeat center center;
	vertical-align: middle;
}
header .search_area input {
	width: calc(100% - 67px);
	padding: 0 18px;
	line-height: 35px;
	color: #8D8D8D;
	font-size: 14px;
	background-color: #ebebeb;
	border: 0;
	border-radius: 8px;
}
header .search_area .recent {
	padding: 25px 15px 15px 15px;
}
header .search_area .recent .title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	font-size: 14px;
}
header .search_area .recent .title .btn_delete {
	color: #444;
}
header .search_area .recent .list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 36px;
}
header .search_area .recent .list li .btn_delete {
	display: inline-block;
	width: 12px;
	height: 12px;
	color: #ebebeb;
	background: url('/icons/ico_close.svg') no-repeat center center;
	opacity: 0.5;
}

/**********************************************************
	HOME BAR
***********************************************************/
#home_bar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 500;
	padding: 9px 0 26px 0;
	background-color: #fff;
	border-top: 1px solid #ebebeb;
	transition: 0.5s;
	bottom: 0;
	opacity: 1;
}
#home_bar li {
	width: 20%;
	text-align: center;
}
#home_bar li .ico {
	display: inline-block;
	width: 24px;
	height: 24px;
}
#home_bar li .menu {
	margin-top: 8px;
	font-size: 12px;
}
#home_bar.on {
	bottom: 0;
	opacity: 1;
}

/**********************************************************
	ALL MENU
***********************************************************/
#all_menu {
	position: fixed;
	right: -100%;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 600;
	padding: 0 15px 15px 15px;
	background-color: #f9f9f9;
	transition: 0.4s;
	opacity: 0;
	overflow: auto;
}
#all_menu.on {
	right: 0;
	opacity: 1;
}

#all_menu .btn_close {
	display: inline-block;
	position: absolute;
	right: 18px;
	top: 18px;
	width: 16px;
	height: 16px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}

#all_menu .tip {
	margin: 66px 0 15px 0;
	font-size: 14px;
}

/* 빠른메뉴영역 */
#all_menu .quick_list {
	display: flex;
}
#all_menu .quick_list li {
	text-align: center;
}
#all_menu .quick_list li + li {
	margin-left: 15px;
}
#all_menu .quick_list li i {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	box-sizing: border-box;
}
#all_menu .quick_list li .menu {
	margin-top: 8px;
	font-size: 12px;
}

/* 메뉴 리스트 */
.menu_wrap {
	padding: 0 15px;
	margin: 0 -15px;
	background-color: #fff;
}
.menu_wrap .menu_list {
	margin-top: 30px;
	border-bottom: 1px solid #ebebeb;
}
.menu_wrap .menu_list > li {
	position: relative;
	padding: 15px 0;
	font-size: 20px;
	border-bottom: 1px solid #ebebeb;
}
.menu_wrap .menu_list > li span:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 15px;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_drop.svg') no-repeat center	center;
}

@keyframes sub_menu_toggle {
    0%   { opacity: 0.5; margin-top:20px;}
    100% { opacity: 1; margin-top:0;}
}

.menu_wrap .sub_menu {
	padding: 32px 40px 2px 40px;
    animation: sub_menu_toggle 0.5s ease;
}
.menu_wrap .sub_menu li {
	font-size: 16px;
}
.menu_wrap .sub_menu li + li {
	margin-top: 22px;
}

.menu_wrap .foot_menu {
	display: flex;
	justify-content: space-between;
	padding: 30px 35px;
}
.menu_wrap .foot_menu li {
	font-size: 16px;
}
.menu_wrap .foot_menu li .ico_menu {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -3px 13px 0 0;
	background-color: #c4c4c4;
	vertical-align: middle;
}


/**********************************************************
	FOOTER
***********************************************************/
footer {
	position: relative;
	padding: 30px 15px;
	background-color: #ebebeb;
	margin-bottom: 82px;
}
footer .f_logo {
	width: 82px;
}
footer .f_logo img {
	width: 100%;
}
footer address {
	margin-top: 20px;
	color: #777;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}
footer .address_eng {
	margin-top: 5px;
	color: #777;
	font-size: 12px;
	font-weight: 300;
}
footer .sns_list {
	display: flex;
	position: absolute;
	right: 15px;
	top: 30px;
}
footer .sns_list li + li {
	margin-left: 8px;
}
footer .sns_list li img {
	width: 24px;
}


/**********************************************************
	SEARCH
***********************************************************/
.search_wrap .search_area {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
}
.search_wrap .search_area .top {
	padding: 15px 15px 9px 15px;
	border-bottom: 1px solid #ebebeb;
}
.search_wrap .search_area .btn_prev {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 6px;
	background: url('/icons/ico_back.svg') no-repeat center center;
	vertical-align: middle;
}
.search_wrap .search_area .btn_delete2 {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 24px;
	z-index: 10;
	width: 17px;
	height: 17px;
	background: url('/icons/ico_delete.svg') no-repeat center center;
	vertical-align: middle;
}
.search_wrap .search_area input {
	width: calc(100% - 67px);
	padding: 0 18px;
	line-height: 35px;
	color: #8D8D8D;
	font-size: 14px;
	background-color: #ebebeb;
	border: 0;
	border-radius: 8px;
}
.search_wrap .search_area .recent {
	padding: 25px 15px 15px 15px;
}
.search_wrap .search_area .recent .title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	font-size: 14px;
}
.search_wrap .search_area .recent .title .btn_delete {
	color: #444;
}
.search_wrap .search_area .recent .list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 36px;
}
.search_wrap .search_area .recent .list li .btn_delete {
	display: inline-block;
	width: 12px;
	height: 12px;
	color: #ebebeb;
	background: url('/icons/ico_close.svg') no-repeat center center;
	opacity: 0.5;
}

/**********************************************************
	COMMON
***********************************************************/
/* 레이아웃 */
.section:first-child {
	padding-top: 30px;
}
.section {
	padding: 40px 15px;
	overflow: hidden;
}
.section.bg_gray {
	background-color: #f9f9f9;
}
.section .swiper {
	overflow: visible;
}
.section .title {
	position: relative;
	margin-bottom: 20px;
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
.section .title small {
	font-size: 16px;
}
.section .title .more {
	position: absolute;
	right: 0;
	top: 0;
	color: #444;
	font-size: 12px;
	line-height: 29px;
	font-weight: 500;
}
.section .title .filter {
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 23px;
	color: #444;
	font-size: 14px;
	line-height: 29px;
	font-weight: 500;
	background: url('/icons/ico_filter.svg') no-repeat right center;
}

/* 유투브 */
.iframe_wrap {
	position: relative;
	padding-bottom: 56.2%;
}
.iframe_wrap iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
}

/* 버튼 */
.btn_share {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('/icons/ico_share.svg') no-repeat center center;
}

/* 구분선 */
hr {
	height: 10px;
	margin: 0;
	background-color: #F9F9F9;
	border: 0;
	border-top: 1px solid #EBEBEB;
}

/**********************************************************
	MAIN
***********************************************************/
/* 메인 슬라이드 */
.main_swiper .swiper-slide img {
	width: 100%;
}

/* 실시간 라이브 */
.movie_wrap {
	border: 1px solid #EBEBEB;
	border-radius: 8px;
	overflow: hidden;
}
.movie_wrap .info {
	position: relative;
	padding: 15px 15px 18px 15px;
	font-size: 16px;
}
.movie_wrap .info .btn_share {
	position: absolute;
	right: 15px;
	top: 12px;
}
.movie_wrap .info .tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	height: 46px;
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
}
.movie_wrap .info .date {
	display: inline-block;
	margin-top: 12px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
}
.movie_wrap .info .preacher {
	display: inline-block;
	margin-left: 7px;
	padding-left: 7px;
	line-height: 10px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	border-left: 1px solid #999;
}

/* 요일별 컨텐츠 */
.days_wrap .day_list {
	display: flex;
	justify-content: space-between;
	padding: 3px 5px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border-radius: 40px;
}
.days_wrap .day_list li {
	padding: 0 10px;
	font-size: 16px;
	color: #999;
	font-weight: 500;
	line-height: 34px;
	border-radius: 19px;
}
.days_wrap .day_list li:first-child {
	padding: 0 18px;
}
.days_wrap .day_list li + li {
	margin-left: 5px;
}
.days_wrap .day_list li.on {
	color: #fff;
	background-color: #444;
}

.days_wrap .con_list li {
	display: flex;
	border-radius: 8px;
	overflow: hidden;
	height: 90px;
	border: 1px solid #ebebeb;
}
.days_wrap .con_list li + li {
	margin-top: 10px;
}
.days_wrap .con_list li .movie img {
	width: 145px;
	height: 88px;
	overflow: hidden;
}
.days_wrap .con_list li .info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 11px 15px;
}
.days_wrap .con_list li .sat {
	color: #A2A0A4;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}
.days_wrap .con_list li .sat img {
	padding-right: 15px;
}
.days_wrap .con_list li .info .tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
}
.days_wrap .con_list li .info .tag_up {
	display: inline-block;
	height: 15px;
	padding: 0 5px;
	margin: -2px 0 0 2px;
	color: #fff;
	font-size: 10px;
	line-height: 14px;
	background-color: #ea7910;
	border-radius: 2px;
	vertical-align: middle;
}
.days_wrap .con_list li .info .date {
	height: 14px;
	margin-top: 8px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
}

/* 빠른접근 */
.quick_wrap {
	background-color: #f9f9f9;
}
.quick_menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.quick_menu li {
	margin-bottom: 15px;
	text-align: center;
}
.quick_menu li .img {
	width: 77px;
	height: 77px;
	margin: 0 auto 8px;
	line-height: 77px;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 10px;
}
.quick_menu li .txt {
	font-size: 14px;
	text-align: center;
}

/* 은혜로운 연합 예배 찬양 */
.slide_wrap .movie_wrap {
	width: 240px;
}

/* 성락교회 미래세대 */
.future_generation {
	display: flex;
	overflow: auto;
}
.future_generation .swiper-slide {
	width: 77px;
	margin-bottom: 15px;
	text-align: center;
}
.future_generation .swiper-slide .img {
	width: 77px;
	height: 77px;
	margin: 0 auto 8px;
	background-color: #f5f5f5;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	overflow: hidden;
}
.future_generation .swiper-slide .img img {
	width: 100%;
}
.future_generation .swiper-slide .txt {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}


/**********************************************************
	POPUP
***********************************************************/
.pop_toast {
	position: relative;
}
.pop_toast .btn_close {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 0;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.pop_toast .title {
	padding: 16px 0;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.pop_toast .sns_list {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.pop_toast .sns_list li {
	text-align: center;
}
.pop_toast .sns_list li img {
	width: 77px;
}
.pop_toast .sns_list li + li {
	margin-left: 10px;
}
.pop_toast .sns_list li .tit {
	margin-top: 10px;
	font-size: 14px;
}


/**********************************************************
	SUB COMMON
***********************************************************/
.top_area {
	position: relative;
	z-index: 100;
	line-height: 50px;
	background-color: #fff;
}
.top_area .btn_prev {
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 13px;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_back.svg') no-repeat center center;
}
.top_area .top_title {
	padding: 0 15px;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

.top_area .tab_wrap {
	position: relative;
	padding-right: 50px;
	border-bottom: 1px solid #ebebeb;
}
.top_area .tab_wrap .tab_bar {
	display: none;
}
.top_area .tab_wrap .btn_more {
	position: absolute;
	right: 9px;
	top: -8px;
	height: 50px;
	width: 33px;
	background: url('/icons/ico_back.svg') no-repeat center center;
	transform: rotate(-90deg) scale(0.9);
}
.top_area .tab_area {
	display: flex;
	overflow-x: auto;
	padding: 0 0 12px 15px;
}
.top_area .tab_area li {
	display: inline-block;
	height: 33px;
	padding: 0 15px;
	line-height: 34px;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	border-radius: 33px;
}
.top_area .tab_area li.on {
	color: #fff;
	background-color: #444 !important;
}
.top_area .tab_area li.on a {
	color: #fff;
}

.top_area .tab_wrap.active {
	padding: 0;
}
.shadow {
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top : 0;
	bottom: 0;
	z-index: 80;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}
.top_area .tab_wrap.active .btn_more {
	display: none;
}
.top_area .tab_wrap.active .tab_bar {
	display: block;
	padding: 0 20px 12px 20px;
	font-size: 14px;
	line-height: 33px;
}
.top_area .tab_wrap.active .btn_close {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 33px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.top_area .tab_wrap.active .tab_area {
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 90;
	flex-wrap: wrap;
	padding: 0 7px 15px 15px;
	background-color: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.top_area .tab_wrap.active .tab_area li {
	margin: 0 8px 10px 0;
	background-color: #f9f9f9;
}


.location_wrap {
	position: relative;
}
.location_wrap .location {
	padding: 10px 15px;
	font-size: 12px;
	border-bottom: 1px solid #ebebeb;
}
.location_wrap .location .cate {
	display: inline-block;
	margin-right: 18px;
	color: #999;
}
.location_wrap .menu_list {
	display: none;
	position: absolute;
	left: 0;
	top: 39px;
	z-index: 100;
	width: 100%;
	padding: 15px;
	background-color: #fff;
}
.location_wrap .menu_list li {
	line-height: 32px;
	font-size: 16px;
}
.location_wrap .menu_list li.on a {
	color: #E07511;
}

/**********************************************************
	SERMON(예배)
***********************************************************/
/* 예배 메인 */
.sermon_list li {
	position: relative;
	padding: 19px 16px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 8px;
}
.sermon_list li:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 20px;
	top: calc(50% - 16px);
	width: 32px;
	height: 32px;
	background: url('/icons/ico_play.svg') no-repeat center center;
}
.sermon_list .tit {
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sermon_list .date {
	display: inline-block;
	margin-top: 8px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
}
.sermon_list .preacher {
	display: inline-block;
	margin-left: 7px;
	padding-left: 7px;
	line-height: 10px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	border-left: 1px solid #999;
}
.sermon_list li + li {
	margin-top: 10px;
}

/* 필터 */
.layer_filter {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 600;
	background-color: #fff;
}
.layer_filter.on {
	display: block;
}
.layer_filter .title {
	padding: 18px 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	background-color: #f9f9f9;
}
.layer_filter .btn_close {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 10;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.layer_filter .filter_list {
	border-top: 1px solid #f9f9f9;
}
.layer_filter .filter_list li {
	position: relative;
	padding: 13px 20px;
	font-size: 16px;
	border-bottom: 1px solid #f9f9f9;
}
.layer_filter .filter_list li:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 11px;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_check_off.svg') no-repeat center center;
}
.layer_filter .filter_list li.on:after {
	background: url('/icons/ico_check.svg') no-repeat center center;
}
.layer_filter .btn_area {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.layer_filter .btn_area span {
	height: 72px;
	color: #fff;
	font-size: 16px;
	line-height: 72px;
	text-align: center;
}
.layer_filter .btn_area .btn_reset {
	width: 110px;
	background-color: #444;
}
.layer_filter .btn_area .btn_select {
	width: calc(100% - 110px);
	background-color: #000;
}

/* 예배 상세 */
.sermon_detail .movie_wrap {
	border: 0;
	border-radius: 0;
}
.sermon_detail .movie_wrap .info {
	padding: 17px 15px 30px 15px;
}
.sermon_detail .movie_wrap .info .date {
	margin-top: 8px;
}

.sermon_detail .section {
	padding: 0;
	background-color: #f9f9f9;
	border-top: 1px solid #ebebeb;
}

.sermon_detail .tab_area {
	padding: 10px 15px;
	border-bottom: 1px solid #ebebeb;
}
.sermon_detail .tab_area li {
	display: inline-block;
	padding: 0 15px;
	line-height: 33px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	border-radius: 33px;
}
.sermon_detail .tab_area li.on {
	color: #fff;
	background-color: #444;
}
.sermon_detail .tab_area li.on a {
	color: #fff;
}

/* 예배순서 */
.sermon_detail .order_wrap {
	padding: 13px 20px 40px 20px;
}
.sermon_detail .order_wrap li {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 13px 0;
	line-height: 24px;
	font-size: 16px;
	border-bottom: 1px solid #ebebeb;
}
.sermon_detail .order_wrap li span {
	width: 90px;
	word-break: keep-all;
}
.sermon_detail .order_wrap li span:nth-child(2) {
	flex: 1;
	text-align: center;
}
.sermon_detail .order_wrap li span:nth-child(3) {
	color: #999;
	text-align: right;
}

/* 설교요지 */
.sermon_detail .gist_wrap {
	padding: 20px 20px 40px 20px;
}
.sermon_detail .gist_wrap .gist_title {
	position: relative;
	padding-right: 30px;
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
}
.sermon_detail .gist_wrap .gist_title .translation {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_trans.svg') no-repeat center center;
}
.sermon_detail .gist_wrap .main_bible {
	padding: 8px 0 15px;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 18px;
	border-bottom: 2px solid #000;
}
.sermon_detail .gist_wrap .gist {
	font-size: 16px;
	line-height: 26px;
	word-break: keep-all;
}
.sermon_detail .gist_wrap .gist .bible {
	position: relative;
	color: #999;
	white-space: nowrap;
	text-decoration: underline;
}
.sermon_detail .gist_wrap .gist .important {
	margin: 15px 0;
}
.sermon_detail .gist_wrap .gist .important li {
	padding-left: 20px;
	font-size: 16px;
	line-height: 24px;
	text-indent: -20px;
}

/* 설교요지 성경 클릭 시 나오는 레이어 팝업 */
.layer_bible.on {
	display: block;
}
.layer_bible {
	display: none;
	position: absolute;
	left: 15px;
	z-index: 90;
	width: 280px;
	padding: 17px 7px 17px 17px;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 8px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.layer_bible .btn_close {
	display: inline-block;
	position: absolute;
	right: 17px;
	top: 17px;
	width: 20px;
	height: 20px;
	background: url('/icons/ico_close.svg') no-repeat center center;
	background-size: 15px 15px;
}
.layer_bible .verse_list {
	max-height: 240px;
	padding: 0 10px 0 0;
	margin-top: 20px;
	border: 0;
	overflow-y: auto;
}
.layer_bible .verse_list li {
	color: #000;
	white-space: normal;
	word-break: break-all;
}


/* 교회소식 */
.notice_wrap {
	padding: 20px 20px 40px 20px;
}
.notice_wrap .notice_title {
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
	border-bottom: 2px solid #000;
}

/* 숫자가 있는 리스트 */
.notice_wrap ol.list {
    counter-reset: notice_list; 
}
.notice_wrap ol.list li {
	margin-bottom: 15px;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.notice_wrap ol.list li .tit {
	font-size: 16px;
    font-weight: 500;
}
.notice_wrap ol.list li .tit:before {
    counter-increment: notice_list;
    content: counter(notice_list) ". ";
}


/**********************************************************
	PRAISE(찬양)
***********************************************************/
/* 찬양 상세 */
.praise_detail .movie_wrap {
	border: 0;
	border-radius: 0;
}
.praise_detail .movie_wrap .info {
	padding: 12px 15px 30px 15px;
}

.praise_detail .section {
	padding: 0;
	background-color: #f9f9f9;
	border-top: 1px solid #ebebeb;
}

.praise_detail .tab_area {
	padding: 10px 15px;
	border-bottom: 1px solid #ebebeb;
}
.praise_detail .tab_area li {
	display: inline-block;
	padding: 0 15px;
	line-height: 33px;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	border-radius: 33px;
}
.praise_detail .tab_area li.on {
	color: #fff;
	background-color: #444;
}

/* 찬양목록 */
.praise_wrap {
	padding: 20px 15px 40px 15px;
}



/**********************************************************
	BIBLE(성경)
***********************************************************/
/* 말씀 상세 */
.top_area .top_title .arrow {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-top: -2px;
	background: url('/icons/ico_back.svg') no-repeat center center;
	transform: rotate(-90deg) scale(0.75);
	vertical-align: middle;
}
.top_area .tool_list {
	position: absolute;
	right: 15px;
	top: 0;
	display: flex;
}
.top_area .tool_list li + li {
	margin-left: 15px;
}

/* 텍스트 사이즈 수정 */
.top_area .txt_control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
	padding: 20px 15px;
	line-height: 34px;
	background-color: #fff;
	border-top: 1px solid #ebebeb;
}
.top_area .txt_control .tit strong {
	font-size: 16px;
	font-weight: 500;
}
.top_area .txt_control .tit span {
	display: inline-block;
	margin-left: 25px;
	font-size: 15px;
}
.top_area .txt_control .size {
	line-height: 32px;
	background: #F9F9F9;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
}
.top_area .txt_control .size li {
	display: inline-block;
	width: 73px;
	text-align: center;
}
.top_area .txt_control .size li + li {
	border-left: 1px solid #EBEBEB;
}

.bible_con {
	position: relative;
	padding: 17px 15px 80px 15px;
	border-top: 1px solid #ebebeb;
}
.bible_con .btn_left {
	position: fixed;
	left: 8px;
	bottom: 100px;
	z-index: 100;
	width: 55px;
	height: 55px;
	background: url('/icons/ico_swiper_left.svg') no-repeat center center;
}
.bible_con .btn_right {
	position: fixed;
	right: 8px;
	bottom: 100px;
	z-index: 100;
	width: 55px;
	height: 55px;
	background: url('/icons/ico_swiper_right.svg') no-repeat center center;
}
.verse_list li {
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
	word-break: keep-all;
}
.verse_list li + li {
	margin-top: 9px;
}

/* 성경 말씀 찾기 팝업 */
.layer_bible_read {
	position: relative;
	background-color: #f9f9f9;
}
.layer_bible_read .title {
	padding: 15px 0 8px;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}

.layer_bible_read .btn_close {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.layer_bible_read .tab_area {
	display: flex;
	margin: 10px 15px;
	padding: 3px 4px;
	background-color: #fff;
	border-radius: 40px;
}
.layer_bible_read .tab_area li {
	display: inline-block;
	width: 33.33%;
	padding: 0 15px;
	line-height: 33px;
	color: #000;
	font-size: 14px;
	text-align: center;
	border-radius: 33px;
}
.layer_bible_read .tab_area li.on {
	color: #fff;
	background-color: #444;
}

.layer_bible_read .tab_con {
	padding: 5px 15px;
	max-height: calc(100% - 106px);
	overflow-y: auto;
	background-color: #fff;
}

/* 책 선택 */
.book_list {
	display: flex;
	flex-wrap: wrap;
}
.book_list li {
	width: 50%;
	padding: 9.5px 15px;
	font-size: 16px;
	line-height: 33px;
	text-align: center;
	word-break: keep-all;
}
.book_list li.on {
	background-color: #f5f5f5;
}

/* 장 선택 */
.chapter_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}
.chapter_list li {
	width: 20%;
	margin-bottom: 20px;
	text-align: center;
}
.chapter_list li span {
	display: inline-block;
	padding: 0 11.5px;
	line-height: 32px;
	font-size: 16px;
	border-radius: 32px;
}
.chapter_list li.on span {
	color: #fff;
	background-color: #000;
}

/**********************************************************
	HYMN(찬송가)
***********************************************************/
.hymn_wrap .top_area .btn_change {
	display: inline-block;
	padding: 0 9px;
	margin-left: 8px;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	background-color: #444;
	border-radius: 24px;
}
.hymn_con {
	padding: 17px 15px;
	border-top: 1px solid #ebebeb;
}
.hymn_con .list li {
	line-height: 26px;
	font-size: 16px;
	font-weight: 500;
	word-break: keep-all;
}
.hymn_con .list li + li {
	margin-top: 9px;
}

/* 토스트 팝업 */
.toast_hymn {
	padding: 0 15px;
}
.toast_hymn .search_area {
	position: relative;
	padding-bottom: 6px;
}
.toast_hymn .search_area select {
	height: 34px;
	padding: 0 5px;
	font-size: 14px;
}
.toast_hymn .search_area input {
	width: calc(100% - 100px);
	height: 31px;
	margin-left: 7px;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #000;
}
.toast_hymn .search_area .btn_search {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 5px;
	width: 25px;
	height: 25px;
	background: url('/icons/ico_search.svg') no-repeat center center;
}
.toast_hymn .tab_con {
	padding-top: 10px;
	max-height: 385px;
	overflow-y: auto;
}
.toast_hymn .hymn_list li {
	padding: 0 5px;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}

/**********************************************************
	ON SERIES
***********************************************************/
.onseries_wrap .top_area .tab_wrap {
	padding-right: 15px;
}
.onseries_wrap .guide {
	padding: 15px;
	font-size: 14px;
	line-height: 21px;
	background-color: #f9f9f9;
}

/* 온특새 - 상세 */
.onseries_detail .prayer_wrap {
	padding: 30px 20px;
}
.onseries_detail .prayer_list {
    counter-reset: prayer_list; 
}
.onseries_detail .prayer_list li {
	color: #444;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}
.onseries_detail .prayer_list li:before {
    counter-increment: prayer_list;
    content: counter(prayer_list) ". ";
}

/* 온3분 메인 - 슬라이드 */
.onseries_wrap .three_swiper {
	padding: 0 26px;
}
.onseries_wrap .three_swiper .swiper-pagination {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 100;
	padding: 0 5px;
	color: #fff;
	font-size: 11px;
	line-height: 19px;
	background-color: #000;
	border-radius: 4px;
}
.onseries_wrap .three_swiper .swiper-slide {
	border-radius: 8px;
	overflow: hidden;
}
.onseries_wrap .three_swiper .swiper-slide img {
	display: block;
	width: 100%;
}

/* 온3분 - 상세 - 설교요지 */
.onseries_detail .gist_wrap {
	padding: 20px 20px 40px 20px;
}
.onseries_detail .gist_wrap .gist_title {
	position: relative;
	padding-right: 30px;
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
}
.onseries_detail .gist_wrap .gist_title .translation {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_trans.svg') no-repeat center center;
}
.onseries_detail .gist_wrap .main_bible {
	padding: 8px 0 15px;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 18px;
	border-bottom: 2px solid #000;
}
.onseries_detail .gist_wrap .gist {
	font-size: 16px;
	line-height: 26px;
	word-break: keep-all;
}
/* 선교센터 블로그 바로가기 */
.onseries_detail .gist_wrap .btn_mission {
	height: 57px;
	margin-top: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 57px;
	text-align: center;
	background-color: #5AB94D;
	border-radius: 8px;
}
.onseries_detail .gist_wrap .btn_mission:before {
	content: 'N';
	display: inline-block;
	margin: 2px 5px 0 0;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	vertical-align: middle;
}
/* 선교센터 PR */
.onseries_detail .gist_wrap .txt_mission {
	margin-top: 15px;
	color: #999;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.onseries_detail .three_swiper {
	padding: 15px 0 25px;
}
.onseries_detail .three_swiper .swiper-slide {
	border-radius: 8px;
	overflow: hidden;
}
.onseries_detail .three_swiper .swiper-slide img {
	display: block;
	width: 100%;
}

/* 온성경 - 상세 */
.onseries_detail .section {
	padding: 0;
	background-color: #f9f9f9;
	border-top: 1px solid #ebebeb;
}

.onseries_detail .tab_area {
	padding: 10px 15px;
	border-bottom: 1px solid #ebebeb;
}
.onseries_detail .tab_area li {
	display: inline-block;
	padding: 0 15px;
	line-height: 33px;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	border-radius: 33px;
}
.onseries_detail .tab_area li.on {
	color: #fff;
	background-color: #444;
}

.onseries_detail .movie_wrap {
	border: 0;
	border-radius: 0;
}
.onseries_detail .movie_wrap .info {
	padding: 12px 15px 30px 15px;
}

/* 온성경 순서 */
.onseries_detail .order_wrap {
	position: relative;
	padding: 30px 20px;
}
.onseries_detail .order_wrap::before {
	content: '';
	display: block;
	position: absolute;
	left: 25px;
	top: 38px;
	bottom: 38px;
	border-left: 1px solid #ddd;
}
.onseries_detail .order_wrap li {
	position: relative;
	padding-left: 26px;
	font-size: 20px;
	font-weight: 600;
}
.onseries_detail .order_wrap li:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 5px;
	width: 11px;
	height: 11px;
	background-color: #ddd;
	border-radius: 11px;
}
.onseries_detail .order_wrap li + li {
	margin-top: 30px;
}
/* 온성경 말씀 */
.onseries_detail .bible_wrap .top_area {
	background-color: #f9f9f9;
}
.onseries_detail .bible_wrap .bible_con {
	border: 0;
}

/**********************************************************
	JUBO(주보)
***********************************************************/
.jubo_wrap .top_area .info {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	font-size: 14px;
}
.jubo_wrap .top_area .info .issue {
	padding-right: 25px;
	background: url('/icons/ico_list.svg') no-repeat right 15px;
}
.jubo_wrap .visual {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 180px;
	padding: 20px;
	text-align: center;
	background: url('/images/bg_jubo.png') no-repeat center top;
	background-size: cover;
}
.jubo_wrap .visual .title {
	color: #000;
	font-size: 22px;
	font-weight: 600;
}
.jubo_wrap .visual .eng {
	margin: 5px 0 15px;
	color: #999;
	font-size: 16px;
	font-weight: 300;
}
.jubo_wrap .visual .bible {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.jubo_wrap.sermon_detail .tab_con {
	background-color: #fff;
}


/* 주보 리스트 */
.layer_jubo {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background-color: #fff;
}
.layer_jubo.on {
	display: block;
}
.layer_jubo .title {
	padding: 18px 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	background-color: #f9f9f9;
}
.layer_jubo .btn_close {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 10;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.layer_jubo .jubo_list li {
	position: relative;
	padding: 20px 15px;
	font-size: 16px;
	line-height: initial;
	border-bottom: 1px solid #EBEBEB;
}
.layer_jubo .jubo_list li .info2 {
	margin-bottom: 8px;
	font-size: 12px;
}
.layer_jubo .jubo_list li .info2 span {
	display: inline-block;
	margin: 0 3px;
	font-size: 10px;
	color: #999;
}

/**********************************************************
	OFFERING(헌금)
***********************************************************/
.offering_wrap .section {
	padding: 5px 15px 40px 15px;
}

.offering_wrap .tab_area {
	display: flex;
	padding: 3px 5px;
	margin-bottom: 21px;
	background-color: #f9f9f9;
	border-radius: 40px;
}
.offering_wrap .tab_area li {
	width: 50%;
	padding: 0 15px;
	line-height: 34px;
	color: #999;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-radius: 33px;
}
.offering_wrap .tab_area li.on {
	color: #fff;
	background-color: #444;
}

/* 국내 */
.offering_wrap .bank_list li {
	font-size: 14px;
}
.offering_wrap .bank_list li + li {
	margin-top: 24px;
}
.offering_wrap .bank_list li div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}
.offering_wrap .bank_list li .bank {
	color: #4AB853;
	font-weight: 600;
}

.offering_wrap .bank_list li .account {
	width: 140px;
	font-weight: 600;
}
.offering_wrap .bank_list li .name {
	width: 118px;
}
.offering_wrap .bank_list li .btn_copy {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_copy.svg') no-repeat center center;
}

.offering_wrap .bank_guide {
	margin: 30px 0 20px 0;
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
	background-color: #f3f3f3;
}
.offering_wrap .offering_guide li {
	color: #444;
	font-size: 14px;
	line-height: 22px;
}

/* 해외 */
.offering_wrap .overseas_wrap .bank_list .info {
	display: block;
	margin: 0;
	line-height: 22px;
}


/**********************************************************
	SETTING
***********************************************************/
.setting_wrap .tab_area {
	display: flex;
}
.setting_wrap .tab_area li {
	width: 50%;
	line-height: 48px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.setting_wrap .tab_area li.on {
	border-bottom: 2px solid #EA7910;
}
.setting_wrap .title {
	position: relative;
	margin-bottom: 0;
}
.setting_wrap .sub_txt {
	color: #999;
	font-size: 16px;
}

.alarm_list li {
	position: relative;
	padding: 28px 15px 20px 53px;
	font-size: 16px;
}
.alarm_list li .ico {
	display: inline-block;
	position: absolute;
	top: 29px;
	left: 15px;
	width: 24px;
	height: 24px;
	background-color: #c4c4c4;
}
.alarm_list li.new .ico:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 5px;
	height: 5px;
	background-color: #ea7910;
	border-radius: 50%;
}
.alarm_list li + li {
	border-bottom: 1px solid #ebebeb;
}
.alarm_list li .date {
	color: #aaa;
	font-size: 14px;
}


.setting_wrap .option_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	border-radius: 4px;
	overflow: hidden;
}
.setting_wrap .option_list li {
	width: 50%;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.setting_wrap .option_list li.on {
	color: #fff;
	background-color: #EA7910;
	border-color: #EA7910;
}
.setting_wrap .option_list li.disabled {
	color: #999;
	background-color: #f9f9f9;
}


/**********************************************************
	SWITCH
***********************************************************/
.switch {
	position: absolute;
	right: 0;
	top: 9px;
	width: 24px;
	height: 12px;
	background-color: #bbb;
	border-radius: 12px;
}
.switch span {
	display: inline-block;
	position: absolute;
	top: -3px;
	left: -5px;
	width: 18px;
	height: 18px;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	transition: 0.4s;
}
.switch.on {
	background-color: #EA7910;
}
.switch.on span {
	left: 10px;
}

/**********************************************************
	ETC
***********************************************************/
/* padding */
.pt0 {
	padding-top: 0 !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt30 {
	padding-top: 30px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

/* align */
.txt_center {
	text-align: center !important;
}
.txt_left {
	text-align: left !important;
}
.txt_right {
	text-align: right !important;
}

.loading_box {
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}








