@charset "utf-8";

/**********************************************************
	FONT
***********************************************************/
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/NanumBarunGothicWebUltraLight.woff") format("woff"),
		url("fonts/NanumBarunGothicWebUltraLight.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/NanumBarunGothicWebLight.woff") format("woff"),
		url("fonts/NanumBarunGothicWebLight.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/NanumBarunGothicWeb.woff") format("woff"),
		url("fonts/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/NanumBarunGothicWebBold.woff") format("woff"),
		url("fonts/NanumBarunGothicWebBold.ttf") format("truetype");
}


/**********************************************************
	CSS RESET
***********************************************************/
body, input, textarea, select, button, table {
	margin: 0;
	font-size: 13px;
	font-family: "NanumBarunGothic";
	font-weight: 300;
	letter-spacing: -0.5px;
	color: #000;
}
body, h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, form, fieldset, legend, button, section {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	box-sizing: border-box;
}
span, div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img, fieldset {
	border: 0 none;
}
dl, ul, ol, li {
	list-style: none outside none;
}
button {
	border: 0 none;
	cursor: pointer;
	display: block;
	outline: 0;
}
table, th, td {
	border-collapse: collapse;
}
label {
	cursor: pointer;
}

a, img, input {
	outline: none;
}
input[type="image"] {
	-webkit-appearance: none;
	border-radius: 0;
}
li img, td img {
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
}
table a:link, table a:visited {
	color: #000;
}
table a:hover, table a:active {
	color: #000;
	text-decoration: underline;
}
address, caption, cite, code, dfn, em, var {
	font-style: normal;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: 600;
}
legend, caption {
	display: none !important;
}

#__next{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	margin-top: 60px;
}
.sub_container {
	margin-top: 60px;
	flex: 1;
}



/**********************************************************
	HEADER
***********************************************************/
header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 500;
	width: 100%;
	background-color: #fff;
}
header.on {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header .inner {
	position: relative;
	padding: 10px;
}
header .logo {
	display: inline-block;
	width: 112px;
	height: 36px;
}
header .alarm {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 36px;
	height: 36px;
	background: url('/icons/ico_alarm.svg') no-repeat center center;
}
header .alarm.on:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 9px;
	top: 5px;
	width: 4px;
	height: 4px;
	background-color: #ea7910;
	border: 2px solid #fff;
	border-radius: 50%;
}

/**********************************************************
	HOME BAR
***********************************************************/
#home_bar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	left: 0;
	bottom: -90px;
	width: 100%;
	z-index: 500;
	padding: 9px 26px 26px 26px;
	background-color: #fff;
	border-top: 1px solid #ebebeb;
	transition: 0.5s;
	opacity: 0;
}
#home_bar li {
	text-align: center;
}
#home_bar li i {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: #aaa;
}
#home_bar li .menu {
	margin-top: 6px;
	font-size: 12px;
}
#home_bar.on {
	bottom: 0;
	opacity: 1;
}

/**********************************************************
	ALL MENU
***********************************************************/
#all_menu {
	position: fixed;
	right: -100%;
	top: 60px;
	bottom: 0;
	width: 100%;
	z-index: 600;
	padding: 0 15px 15px 15px;
	background-color: #fff;
	transition: 0.4s;
	opacity: 0;
	overflow: auto;
}
#all_menu.on {
	right: 0;
	opacity: 1;
}

/* 검색영역 */
#all_menu .search_area {
	padding: 15px 0;
}
#all_menu .search_area:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -2px 5px 0 0;
	background-color: #f5f5f5;
	vertical-align: middle;
}
#all_menu .search_area input {
	font-size: 16px;
	border: 0;
}
#all_menu .search_area input::placeholder {
	color: #999;
}

/* 빠른메뉴영역 */
#all_menu .quick_list {
	display: flex;
	padding: 15px 0 0 0;
}
#all_menu .quick_list li {
	text-align: center;
}
#all_menu .quick_list li + li {
	margin-left: 15px;
}
#all_menu .quick_list li i {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 10px;
}
#all_menu .quick_list li .menu {
	margin-top: 1px;
	font-size: 12px;
}

/* 메뉴 리스트 */
.menu_wrap .menu_list li.title {
	position: relative;
	padding: 25px 0;
	font-size: 20px;
	font-weight: 600;
}
.menu_wrap .menu_list li.title + li {
	border-top: 1px solid #ebebeb;
}
.menu_wrap .menu_list li.title span:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 30px;
	width: 24px;
	height: 24px;
	background-color: #c4c4c4;
}
.menu_wrap .menu_list li.title .ico_menu {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -3px 13px 0 0;
	background-color: #c4c4c4;
	vertical-align: middle;
}
.menu_wrap .sub_menu {
	padding: 6px 40px 4px 40px;
}
.menu_wrap .sub_menu li {
	font-size: 16px;
}
.menu_wrap .sub_menu li + li {
	margin-top: 9px;
}

.menu_wrap .foot_menu {
	display: flex;
	justify-content: space-between;
	padding: 30px 35px;
}
.menu_wrap .foot_menu li {
	font-size: 16px;
}
.menu_wrap .foot_menu li .ico_menu {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -3px 13px 0 0;
	background-color: #c4c4c4;
	vertical-align: middle;
}


/**********************************************************
	FOOTER
***********************************************************/
footer {
	position: relative;
	padding: 30px 15px;
	background-color: #f9f9f9;
	border-top: 1px solid #eaeaea;
}
footer .f_logo {
	width: 82px;
}
footer .f_logo img {
	width: 100%;
}
footer address {
	margin-top: 20px;
	color: #999;
	font-size: 12px;
	line-height: 17px;
}
footer .address_eng {
	margin-top: 5px;
	color: #999;
	font-size: 10px;
}
footer .sns_list {
	display: flex;
	position: absolute;
	right: 15px;
	top: 30px;
}
footer .sns_list li + li {
	margin-left: 8px;
}

/**********************************************************
	COMMON
***********************************************************/
/* 레이아웃 */
.section {
	padding: 30px 15px;
}
.section.bg_gray {
	background-color: #f9f9f9;
}
.section .title {
	position: relative;
	margin-bottom: 13px;
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
.section .title small {
	font-size: 16px;
}
.section .title .more {
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	font-size: 12px;
	line-height: 29px;
}

/* 유투브 */
.iframe_wrap {
	position: relative;
	padding-bottom: 56.2%;
}
.iframe_wrap iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
}

/* 버튼 */
.btn_share {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('/icons/ico_share.svg') no-repeat center center;
}

/* 구분선 */
hr {
	height: 10px;
	margin: 0;
	background-color: #F9F9F9;
	border: 0;
	border-top: 1px solid #EBEBEB;
}

/**********************************************************
	MAIN
***********************************************************/
/* 메인 슬라이드 */
.main_swiper .swiper-slide img {
	width: 100%;
}

/* 실시간 라이브 */
.movie_wrap {
	border: 1px solid #EBEBEB;
	border-radius: 8px;
	overflow: hidden;
}
.movie_wrap .info {
	position: relative;
	padding: 12px 15px 15px 15px;
	font-size: 16px;
}
.movie_wrap .info .btn_share {
	position: absolute;
	right: 15px;
	top: 12px;
}
.movie_wrap .info .tit {
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.movie_wrap .info .date {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
}

/* 요일별 컨텐츠 */
.days_wrap .day_list {
	padding-bottom: 20px;
}
.days_wrap .day_list li {
	display: inline-block;
	padding: 0 11px;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	border: 1px solid #ebebeb;
	border-radius: 19px;
}
.days_wrap .day_list li:first-child {
	padding: 0 18px;
}
.days_wrap .day_list li + li {
	margin-left: 5px;
}
.days_wrap .day_list li.on {
	color: #e07511;
	font-weight: 600;
	border: 2px solid #e07511;
}

.days_wrap .con_list li {
	display: flex;
	border: 1px solid #ebebeb;
	border-radius: 8px;
	overflow: hidden;
}
.days_wrap .con_list li + li {
	margin-top: 10px;
}
.days_wrap .con_list li .movie {
	width: 145px;
	height: 81px;
	overflow: hidden;
}
.days_wrap .con_list li .info {
	flex: 1;
	padding: 20px 15px;
}
.days_wrap .con_list li .info .tit {
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.days_wrap .con_list li .info .tag_up {
	display: inline-block;
	height: 15px;
	padding: 0 5px;
	margin: -2px 0 0 2px;
	color: #fff;
	font-size: 10px;
	line-height: 14px;
	background-color: #ea7910;
	border-radius: 2px;
	vertical-align: middle;
}
.days_wrap .con_list li .info .date {
	color: #aaa;
	font-size: 12px;
	font-weight: 400;
}

/* 빠른접근 */
.quick_wrap {
	background-color: #f9f9f9;
}
.quick_menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.quick_menu li {
	min-width: 24%;
	margin-bottom: 15px;
	text-align: center;
}
.quick_menu li .img {
	width: 77px;
	height: 77px;
	margin: 0 auto 8px;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 10px;
}
.quick_menu li .txt {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

/* 은혜로운 연합 예배 찬양 */
.slide_wrap .movie_wrap {
	width: 240px;
}

/* 성락교회 미래세대 */
.future_generation {
	display: flex;
	overflow: auto;
}
.future_generation .swiper-slide {
	width: 77px;
	margin-bottom: 15px;
	text-align: center;
}
.future_generation .swiper-slide .img {
	width: 77px;
	height: 77px;
	margin: 0 auto 8px;
	background-color: #f5f5f5;
	border: 1px solid #eaeaea;
	border-radius: 10px;
}
.future_generation .swiper-slide .txt {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}


/**********************************************************
	POPUP
***********************************************************/
.pop_toast {
	position: relative;
}
.pop_toast .btn_close {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 0;
	width: 24px;
	height: 24px;
	background: url('/icons/ico_close.svg') no-repeat center center;
}
.pop_toast .title {
	padding: 16px 0;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.pop_toast .sns_list {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.pop_toast .sns_list li {
	text-align: center;
}
.pop_toast .sns_list li img {
	width: 77px;
}
.pop_toast .sns_list li + li {
	margin-left: 10px;
}
.pop_toast .sns_list li .tit {
	margin-top: 10px;
	font-size: 14px;
}


/**********************************************************
	SUB COMMON
***********************************************************/
.top_area .top_title {
	margin-bottom: 5px;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.location_wrap {
	position: relative;
}
.location_wrap .location {
	padding: 10px 15px;
	font-size: 12px;
	border-bottom: 1px solid #ebebeb;
}
.location_wrap .location .cate {
	display: inline-block;
	margin-right: 18px;
	color: #999;
}
.location_wrap .menu_list {
	display: none;
	position: absolute;
	left: 0;
	top: 39px;
	z-index: 100;
	width: 100%;
	padding: 15px;
	background-color: #fff;
}
.location_wrap .menu_list li {
	line-height: 32px;
	font-size: 16px;
}
.location_wrap .menu_list li.on a {
	color: #E07511;
}

/**********************************************************
	예배
***********************************************************/
/* 예배 메인 */
.tab_wrap {
	padding: 20px 15px;
}
.tab_list {
	display: flex;
	overflow: auto;
}
.tab_list .swiper-slide {
	/* width: auto; */
	width: 80px;
	padding: 0 6px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 400;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	white-space: nowrap;
}

.sermon_list li {
	padding: 19px 16px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 8px;
}
.sermon_list li .tit {
	font-size: 16px;
	font-weight: 400;
}
.sermon_list li .date {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
}
.sermon_list li + li {
	margin-top: 10px;
}

/* 예배 리스트 */
.movie_detail .info {
	position: relative;
	padding-bottom: 15px;
}
.movie_detail .info .btn_share {
	position: absolute;
	right: 0;
	top: 0;
}
.movie_detail .info .tag {
	display: inline-block;
	padding: 0 6px;
	color: #fff;
	line-height: 22px;
	font-size: 12px;
	font-weight: 400;
	background-color: #EA7910;
	border-radius: 4px;
}
.movie_detail .info .tit {
	margin: 8px 0  2px;
	line-height: 30px;
	font-size: 26px;
	font-weight: 600;
}
.movie_detail .info .date {
	color: #aaa;
	font-size: 16px;
	font-weight: 400;
}
.movie_detail .iframe_wrap {
	border-radius: 8px;
	overflow: hidden;
}

/* 예배 상세 */
.movie_detail2 .info {
	position: relative;
	padding: 12px 15px 15px 15px;
	font-size: 16px;
}
.movie_detail2 .info .btn_share {
	position: absolute;
	right: 15px;
	top: 12px;
}
.movie_detail2 .info .tag {
	display: inline-block;
	padding: 0 6px;
	color: #fff;
	line-height: 22px;
	font-size: 12px;
	font-weight: 400;
	background-color: #EA7910;
	border-radius: 4px;
}
.movie_detail2 .info .tit {
	margin: 8px 0  2px;
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.movie_detail2 .info .date {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
}

/**********************************************************
	성경
***********************************************************/
/* 책 선택 */
.book_list {
	display: flex;
	flex-wrap: wrap;
}
.book_list li {
	width: 33.33%;
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
}

/* 장 선택 */
.chapter_list {
	display: flex;
	flex-wrap: wrap;
}
.chapter_list li {
	width: 20%;
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
}

/* 말씀 상세 */
.top_area .verse {
	display: inline-block;
	padding: 0 15px;
	line-height: 24px;
	font-size: 12px;
	background-color: #f5f5f5;
	border-radius: 24px;
}
.verse_list {
	padding: 17px 15px;
}
.verse_list li {
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
	word-break: keep-all;
}
.verse_list li + li {
	margin-top: 15px;
}

/**********************************************************
	SETTING
***********************************************************/
.setting_wrap .tab_area {
	display: flex;
}
.setting_wrap .tab_area li {
	width: 50%;
	line-height: 48px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.setting_wrap .tab_area li.on {
	border-bottom: 2px solid #EA7910;
}
.setting_wrap .title {
	position: relative;
	margin-bottom: 0;
}
.setting_wrap .sub_txt {
	color: #999;
	font-size: 16px;
}

.alarm_list li {
	position: relative;
	padding: 28px 15px 20px 53px;
	font-size: 16px;
}
.alarm_list li .ico {
	display: inline-block;
	position: absolute;
	top: 29px;
	left: 15px;
	width: 24px;
	height: 24px;
	background-color: #c4c4c4;
}
.alarm_list li.new .ico:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 5px;
	height: 5px;
	background-color: #ea7910;
	border-radius: 50%;
}
.alarm_list li + li {
	border-bottom: 1px solid #ebebeb;
}
.alarm_list li .date {
	color: #aaa;
	font-size: 14px;
}


.setting_wrap .option_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	border-radius: 4px;
	overflow: hidden;
}
.setting_wrap .option_list li {
	width: 50%;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.setting_wrap .option_list li.on {
	color: #fff;
	background-color: #EA7910;
	border-color: #EA7910;
}
.setting_wrap .option_list li.disabled {
	color: #999;
	background-color: #f9f9f9;
}


/**********************************************************
	SWITCH
***********************************************************/
.switch {
	position: absolute;
	right: 0;
	top: 9px;
	width: 24px;
	height: 12px;
	background-color: #bbb;
	border-radius: 12px;
}
.switch span {
	display: inline-block;
	position: absolute;
	top: -3px;
	left: -5px;
	width: 18px;
	height: 18px;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	transition: 0.4s;
}
.switch.on {
	background-color: #EA7910;
}
.switch.on span {
	left: 10px;
}

/**********************************************************
	ETC
***********************************************************/
/* padding */
.pt0 {
	padding-top: 0 !important;
}
.pt10 {
	padding-top: 10px !important;
}

/* align */
.txt_center {
	text-align: center !important;
}










